body{
  background-color: whitesmoke;
  padding: 20px;
}
h1{
  padding: 25px;
  background-color: white;
  border-radius: 25px;
}
p{
  background-color: blue;
  color: green;
  border-radius: 15px;
  width: 300px;
  height: 20px;
  padding: 10px;
}