.header{
  text-align: left;
  color: #5A2D0C;
  background-color: #FFEBCD;
  padding: 20px;
  font-weight: bold;
}
body{
  font-family: "Helvetica", sans-serif;
}
.myImage{
  width: 25%;
  position: relative;
  float: right;
}