body, html{
  height: 100%;
  background-color: gainsboro;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card{
  display: grid;
  background-color: white;
  padding-left: 30px;
  border-radius: 25px;
  width: 80%;
  min-width: 300px;
  max-width: 600px;
  grid-template-columns: 2fr 1fr;
  overflow: hidden;
}
h1, h2{
  margin: 0;
}
.portrait{
  margin: 0;
  padding: 0;
}
img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}